body {
    font-family: Arial, sans-serif;
    background: #7bafd2; 
    margin: 0;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px 0;
    display: flex;
    justify-content: center;

    /* Fondo con imagen */
    background-image: url('fondo.png'); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    
}



.container {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 420px;
}

h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 18px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.field {
  margin-bottom: 16px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  color: #444;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  background: #fff;
}

input:focus, select:focus {
  outline: none;
  border-color: #4a8bf2;
  box-shadow: 0 0 5px rgba(74,139,242,0.4);
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background-color: #4a8bf2;
  color: white;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background-color: #3b74cc;
}

.resultado {
  margin-top: 20px;
  padding: 12px;
  border-left: 4px solid #4a8bf2;
  background-color: #f0f4ff;
  border-radius: 6px;
  color: #333;
}

#tablaContainer table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

#tablaContainer th {
  background-color: #4a8bf2;
  color: white;
  padding: 10px;
  font-size: 14px;
}

#tablaContainer td {
  text-align: right;
  padding: 8px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 13px;
}

#tablaContainer tr:nth-child(even) {
  background-color: #f6f8ff;
}

.logo-container img {
    display: block;
    margin: 0 auto 15px auto;
}

.logo-container h2 {
    font-size: 24px;
    color: #4a8bf2;
    margin: 0;
}

.logo-container img {
    display: block;
    margin: 0 auto 10px auto;
    transition: transform 0.3s ease; 
}

.logo-container img:hover {
    transform: scale(1.2); 
    cursor: pointer;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background-color: #4a8bf2;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

button:hover {
    background-color: #3b74cc; 
    transform: scale(1.05);    
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
}

